@import url('https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

$font-abel: 'Abel', sans-serif;
$font-noto: 'Noto Sans TC', sans-serif;
$dark-400: #252525;
$dark-main: #131313;
$dark-600: #191919;
$primary-main: #007d83;
$primary-600: #004648;
$yellow-main: #fcd041;
$white: #fff;
$transition-main: 0.3s;

body {
    font-family: 'Abel','Noto Sans TC', 'Microsoft JhengHei', 微軟正黑體, 微软雅黑, sans-serif;
    color: $white;
    background-color: #E0E0E0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $white;
    transition: $transition-main;
    &:hover {
        color: $yellow-main;
    }
}

input {
    background-color: transparent;
    border: 0;
    color: #fff;
    outline: none;
}


.container {
    padding-right: 20px;
    padding-left: 20px;
    @media screen and (max-width: 1199px) {
        max-width: inherit;
    }
}

.header {
    background-color: $dark-main;
    &_logo {
        width: 280px;
        img {
            width: 100%;
        }
    }
    &_lang {
        li {
            width: 22px;
            margin-left: 3px;
            img {
                width: 100%;
            }
        }
    }
    &_btn {
        a {
            display: flex;
            width: 110px;
            height: 28px;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            cursor: pointer;
        }
    }
    &_service {
        transition: $transition-main;
        i {
            font-size: 13px;
            margin-right: 4px;
        }
        span {
            font-size: 14px;
        }
        &:hover {
            color: $yellow-main;
        }
    }
    &_time {
        margin: 0;
        padding-left: 20px;
        position: relative;
        font-size: 15px;
        font-family: $font-abel;
        transform: translateY(2px);
        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 13px;
            background-color: $white;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }
    &_nav {
        background-color: $primary-main;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 30;
        &_main {
            >li {
                >a {
                    font-size: 19px;
                    padding: 10px 20px;
                    display: block;
                    transition: $transition-main;
                    &:hover {
                        background-color: rgba(0,0,0,0.08);
                        color: $white;
                    }
                }
                &:hover {
                    .header_nav_second {
                        transform: rotateX(0deg);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        &_second {
            position: absolute;
            width: 100%;
            left: 0;
            top: 100%;
            background-image: url(../img/dropMenu.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px 0 27px;
            transform: rotateX(-90deg);
            visibility: hidden;
            opacity: 0;
            transition: $transition-main;
            transform-origin: top;
            z-index: 10;
            >.container {
                max-width: 1040px;
            }
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 7px;
                background-color: $primary-main;
                left: 0;
                bottom: 0;
            }
            &_list {
                margin-right: 25px;
                // width: 15%;
                h4 {
                    font-size: 17px;
                    font-weight: normal;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #444;
                }
                ul {
                    padding-right: 25px;
                    a {
                        &:hover {
                            color: $yellow-main;
                        }
                    }
                }
            }
            &_link {
                transition: $transition-main;
                img {
                    width: 100%;
                }
                &:hover {
                    opacity: 0.9;
                }
            }
            .row {
                margin-left: -15px;
                margin-right: -15px;
                >div {
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-bottom: 15px;
                }
            }
            &_pic {
                width: 100%;
                border: 3px solid #343434;
                transition: $transition-main;
                display: block;
                img {
                    width: 100%;
                }
                &:hover {
                    animation: menuPic 1s ease-in-out 1;
                }
            }
            &_btn {
                margin-top: 10px;
                font-size: 14px;
                height: 30px;
                background-color: #006166;
                color: #fff;
                border: 1px solid $primary-main;
                line-height: 30px;
                text-align: center;
                width: 100%;
                display: block;
                transition: $transition-main;
                &:hover {
                    // color: #2a6496;
                    color: $white;
                    background-color: $primary-main;
                }
            }
            &_mail {
                img {
                    width: 85px;
                    display: block;
                    margin: 0 auto 10px;
                }
                p {
                    font-family: $font-abel;
                    font-size: 14px;
                    text-align: center;
                    margin: 0;
                    line-height: 1.2;
                }
            }
        }
    }
    &-m {
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid #3D757B;
        background-color: #191A1E;
        z-index: 40;
        height: 60px;
        .container {
            height: 100%;
        }
        .btn-back {
            display: flex;
            align-items: center;
            height: 100%;
            margin-right: 15px;
        }
        h1 {
            font-size: 16px;
            margin: 0;
            font-weight: normal;
        }
    }
    @media screen and (max-width: 1399px) {
        &_nav {
            &_main {
                >li {
                    >a {
                        padding: 10px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        background-color: #1A191E;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 40;
        border-bottom: 1px solid #377479;
        &_logo {
            width: 100px;
            img {
                width: 100%;
            }
        }
    }
}

@keyframes menuPic {
    0% {
        transform: none;
    }

    16.65% {
        transform: translateY(8px);
    }

    33.3% {
        transform: translateY(-6px);
    }

    49.95% {
        transform: translateY(4px);
    }

    66.6% {
        transform: translateY(-2px);
    }

    83.25% {
        transform: translateY(1px);
    }


    100% {
        transform: translateY(0px);
    }
}

.btn {
    &-bgYellow { 
        background-color: $yellow-main; 
        color: #000;
        transition: $transition-main;
        border: 1px solid $yellow-main; 
        &:hover {
            background-color: transparent;
            color: $yellow-main; 
        }
    }
    &-bgGreen {
        background-color: $primary-main;
        color: $white;
        transition: $transition-main;
        border: 1px solid $primary-main;
        &:hover {
            background-color: $white;
            border-color: $white;
            color: $primary-main;
        }
    }
}

.marquee {
    background-color: $primary-600;
    height: 25px;
    font-size: 14px;
    // margin-bottom: 3px;
    &_icon {
        color: #808080;
        font-size: 13px;
        width: 20px;
        height: 100%;
        line-height: 25px;
    }
    &_content {
        width: calc(100% - 20px);
        height: 100%;
        // padding-top: 2px;
        line-height: 25px;
    }
    @media screen and (max-width: 991px) {
        border-bottom: 1px solid #377479;
        margin: 0;
        &_icon {
            display: none;
        }
        &_content {
            width: 100%;
            padding: 0;
        }
    }
}

.banner {
    &_pic {
        position: relative;
        width: 100%;
        padding-bottom: 23%;
        display: block;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    .swiper-pagination-bullet {
        border: 1px solid #fff;
        background-color: transparent;
        opacity: 1;
        &-active {
            background-color: #fff;
        }
    }
    .swiper-button-next, .swiper-button-prev {
        // font-size: 22px;
        color: $white;
        &::after {
            font-size: 32px;
            font-weight: 700;
            // display: none;
        }
    }
}

.main {
    background-color: #fff;
    padding: 40px 15px 15px;
    @media screen and (max-width: 991px) {
        background-color: #1F1F28;
        padding: 0;
    }
}

.home {
    &_top {
        margin-bottom: 40px;
        &_item {
            background-color: $primary-main;
            height: 100%;
            &.jackpots {
                padding: 20px;
                img {
                    width: 175px;
                }
                p {
                    max-width: calc(100% - 175px);
                    font-size: 30px;
                    font-family: $font-abel;
                    margin: 0;
                    padding-left: 30px;
                    text-align: center;
                    letter-spacing: 0.05em;
                }
            }
            &.game {
                .row {
                    margin: 0;
                    >div {
                        padding: 0;
                        &:hover {
                            background-color: rgba(0,0,0,0.08);
                            a {
                                background-color: rgba(0,0,0,0.08);
                            }
                            img {
                                transform: translateY(-5px);
                            }
                        }
                    }
                }
                img {
                    width: 100%;
                    transition: $transition-main;
                }
                a {
                    transition: $transition-main;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                }
            }
        }
    }
    &_inform {
        h2 {
            color: #7e7e7e;
            font-size: 25px;
            margin-bottom: 10px;
        }
        .row {
            margin-left: -3px;
            margin-right: -3px;
            >div {
                padding-left: 3px;
                padding-right: 3px;
            }
        }
        &_item {
            margin-bottom: 6px;
            border: 3px solid #323232;
            position: relative;
            transition: $transition-main;
            display: block;
            h4 {
                position: absolute;
                font-size: 17px;
                color: #fff;
                margin: 0;
                width: 100%;
                padding: 10px;
                bottom: 0;
                left: 0;
                background-color: rgba(0,0,0,0.6);
                font-weight: normal;
            }
            &:hover {
                border-color: #0e4b75;
            }
            .bank {
                position: absolute;
                width: 100%;
                padding: 0 15px;
                left: 0;
                top: calc((100% - 40px) / 2);
                transform: translateY(-50%);
                p {
                    margin: 0;
                    font-size: 15px;
                    &.num {
                        text-align: right;
                        font-family: $font-abel;
                    }
                }
                &_item {
                    margin-bottom: 10px;
                }
                &_bar {
                    margin-top: 5px;
                    // background-image: url(../img/progress.png) repeat-x;
                    // background-size: auto 100%;
                    background-color: #2b2b2b;
                    height: 15px;
                    border-radius: 5px;
                    width: 100%;
                    overflow: hidden;
                    &_inner {
                        height: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
        &_pic {
            width: 100%;
            padding-bottom: 50%;
            position: relative;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
    }
    &_bottom {
        background-color: $primary-main;
        padding: 15px 0;
        color: #fff;
        .row {
            margin-left: -20px;
            margin-right: -20px;
            >div {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        p {
            margin-bottom: 10px;
            font-size: 14px;
            text-align: justify;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &_topic {
        &_nav {
            border-top: 1px solid #377479;
            .row {
                margin: 0;
                >div {
                    padding: 0;
                }
            }
            &_item {
                padding: 10px 0;
                position: relative;
                img {
                    max-width: 50px;
                    width: 50%;
                    display: block;
                    margin: 0 auto 3px;
                }
                p {
                    color: #fff;
                    font-size: 13px;
                    margin: 0;
                    text-align: center;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: #30B8C1;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: $transition-main;
                }
                &.active {
                    background-color: #414141;
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
        &_slider {
            padding: 15px 20px;
            .row {
                margin-left: -7px;
                margin-right: -7px;
                >div {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
            &_item {
                width: 100%;
                display: block;
                margin-bottom: 10px;
                p {
                    font-size: 14px;
                    text-align: center;
                    margin: 0;
                    color: #52B4B5;
                }
            }
            &_pic {
                width: 100%;
                padding-bottom: 100%;
                border-radius: 10px;
                border: 2px solid #38737A;
                overflow: hidden;
                height: 0;
                position: relative;
                margin-bottom: 5px;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 50%;
                    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, transparent 100%);
                    left: 0;
                    bottom: 0;
                    z-index: 1;
                }
            }
        }
        @media screen and (max-width: 400px) {
            padding: 0;
            &_slider {
                padding: 10px 15px;
                .row {
                    margin-left: -5px;
                    margin-right: -5px;
                    >div {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
                &_item {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.bg {
    &-green { background-color: $primary-main; }
    &-yellow { background-color: $yellow-main; }
}

.footer {
    background-color: $dark-600;
    font-size: 14px;
    >.container {
        background-color: $dark-400;
        padding: 10px 15px;
    }
    &_nav {
        li {
            padding-left: 15px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 1px;
                height: 13px;
                background-color: #fff;
                top: 50%;
                left: 7px;
                transform: translateY(-50%);
            }
            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
    }
    .line {
        width: 100%;
        height: 5px;
        background-image: url(../img/dot_repeat.jpeg);
        background-size: auto 5px;
        background-repeat: repeat-x;
        margin: 10px 0;
    }
    &_title {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    &_contact {
        a {
            margin-right: 10px;
            width: 32px;
            display: inline-block;
            filter: grayscale(100%);
            transition: $transition-main;
            img {
                width: 100%;
            }
            &:hover {
                filter: inherit;
            }
        }
    }
    &_help {
        img {
            filter: grayscale(100%);
            margin-right: 8px;
            margin-bottom: 8px;
            height: 35px;
            transition: $transition-main;
            &:hover {
                filter: inherit;
            }
        }
    }
    &_certify {
        width: 370px;
        img {
            width: 100%;
        }
    }
    &_navM {
        padding: 0 5px;
        .row {
            margin-left: -2px;
            margin-right: -2px;
            >div {
                padding-left: 2px;
                padding-right: 2px;
                margin-bottom: 4px;
            }
        }
        a {
            display: block;
            text-align: center;
            background-color: #2C2C37;
            padding: 10px;
            color: #A8A7AE;
        }
    }
    &_brand {
        padding: 10px 15px;
        &_pic {
            width: 100%;
            padding-bottom: 50%;
            position: relative;
            >img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                top: 0;
                left: 0;
                position: absolute;
            }
        }
    }
    &_copyright {
        padding-top: 5px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 13px;
        margin: 0;
        color: #A8A7AE;
    }
    @media screen and (max-width: 991px) {
        background-color: #1F1F28;
        padding-bottom: 100px;
    }
}

#loginModal {
    .modal-content {
        background-color: #393939;
    }
    &Label {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            margin: 0 auto;
            width: 240px;
        }
        &::after {
            position: absolute;
            content: "";
            width: calc((100% - 240px) / 2 - 20px);
            height: 1px;
            background-color: #4c4c4c;
            box-shadow: 0 -1px 0 #535353;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        &::before {
            position: absolute;
            content: "";
            width: calc((100% - 240px) / 2 - 20px);
            height: 1px;
            background-color: #4c4c4c;
            box-shadow: 0 -1px 0 #535353;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    .btn-close {
        position: absolute;
        color: #2d2d2d;
        top: 20px;
        right: 15px;
        filter: drop-shadow(0 2px 0 #676767);
        padding: 0;
        margin: 0;
        // box-shadow: 1px 1px 0 #515151;
    }
    .modal-footer {
        background-color: $primary-main;
        padding: 20px;
        justify-content: center;
        p {
            color: #fff;
            font-size: 18px;
            margin: 0;
            text-align: center;
            a {
                color: orange;
                margin: 0 5px;
            }
        }
    }
}

.modal.fade .modal-dialog {
    transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    transform-origin: 0 100%;
    opacity: 0;
    transition: $transition-main;
}

.modal.show .modal-dialog {
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    opacity: 1;
}

.modal-dialog {
    max-width: 598px;
}

.input {
    background: #4f4f4f;
    border: 1px solid #5e5e5e;
    font-size: 14px;
    color: #e0e0e0;
    border-radius: 4px;
    height: 35px;
}

.login_input {
    display: flex;
    border: 0;
    margin-bottom: 25px;
    &_icon {
        width: 35px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #c6d5d6;
        border: 1px solid #007d83;
        color: #004648;
        border-radius: 4px 0 0 4px;
        border-width: 1px 0 1px 1px;
    }
    input {
        border: 1px solid #5e5e5e;
        border-width: 1px 1px 1px 0;
        width: calc(100% - 35px);
        background-color: transparent;
        outline: none;
        border-radius: 0 4px 4px 0;
        padding: 0 15px;
        &::placeholder {
            color: #124849;
        }
    }
}

.login_vertify {
    label {
        font-size: 14px;
        margin-bottom: 10px;

    }
    input {
        width: 115px;
        margin-right: 20px;
    }
    img {
        width: 60px;
    }
}

.btn-login {
    width: 200px;
    height: 60px;
    border-radius: 100px;
    background-color: $yellow-main;
    color: #000;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto 25px;
}

.login-form {
    background-color: #1A191E;
    padding: 10px 15px;
    &_input {
        background-color: #2C2C37;
        border-radius: 100px;
        display: flex;
        align-items: center;
        height: 45px;
        padding: 0 10px;
        margin-bottom: 15px;
        input {
            width: calc(100% - 40px);
        }
        &.password {
            a {
                font-size: 14px;
                display: block;
                width: 80px;
            }
            input {
                width: calc(100% - 120px);
            }
        }
    }
    &_icon {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 16px;
        }
    }
    &_btn {
        margin: 0;
        >div {
            padding-left: 5px;
            padding-right: 5px;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
        }
    }
}

.fixed-btn {
    width: 100%;
    height: 60px;
    background-color: #1699A2;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    &_inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 100%;
    }
    &_side {
        width: calc((100% - 100px) / 2);
        display: flex;
        align-items: center;
        a {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 50%;
            height: 100%;
            color: #C3EAEA;
            text-align: center;
            flex-wrap: wrap;
            border-left: 1px solid #00585C;
            i {
                font-size: 20px;
                display: block;
            }
            span {
                font-size: 14px;
                display: block;
                width: 100%; 
            }
        }
    }
    .btn-siginup {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #3E3E40;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 3px 8px rgba(0,0,0,0.2);
        font-size: 20px;
        color: #B7F6F5;
    }
}

.signup {
    background-color: #161616;
    padding-bottom: 50px;
    h1 {
        font-size: 36px;
        color: #d9d9d9;
        margin-bottom: 30px;
    }
    &_input {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        &_content {
            display: flex;
            align-items: center;
            width: calc(100% - 380px);
            label {
                width: 120px;
                display: block;
                font-size: 14px;
            }
            input {
                width: calc(100% - 120px);
                background: #c6d5d6;
                border: 1px solid #007d83;
                font-size: 14px;
                color: #004648;
                border-radius: 5px;
                height: 35px;
                padding: 0 10px;
                &::placeholder {
                    color: #90a6a7;
                }
            }
            &.vertify {
                input {
                    width: 155px;
                }
                .vcode {
                    width: 50px;
                    margin-left: 10px;
                }
            }
        }
        &_remark {
            width: 380px;
            font-size: 14px;
            padding-left: 10px;
            margin: 0;
        }
    }
    button {
        width: 110px;
        height: 28px;
        margin: 0 auto;
        display: block;
    }
    @media screen and (max-width: 991px) {
        padding: 20px;
        &_input {
            background-color: #2C2C37;
            border-radius: 100px;
            &_icon {
                width: 45px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &_content {
                width: calc(100% - 45px);
                display: block;
                padding-top: 10px;
                label {
                    width: 100%;
                    // margin-bottom: 5px;
                }
                input {
                    width: 100%;
                    border: 0;
                    background-color: transparent;
                    padding: 0;
                    color: #fff;
                    &::placeholder {
                        color: #AFAEB5;
                    }
                }
                &.vertify {
                    padding-bottom: 5px;
                    input {
                        width: 100%;
                    }
                    .vcode {
                        margin: 0;
                    }
                }
            }
        }
        button {
            width: 100%;
            height: 45px;
            margin-top: 30px;
        }
    }
}